*{
    margin: 0;
    padding: 0;
}
.nav-link {
    display: inline;
}

#navbar {
    list-style-type: none;
    text-align: right;
    background-color: aquamarine;
    padding: 5px;
}

#main {
    text-align: center;
    background-color: salmon;
}

#contact{
    text-align: center;
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 20px;
}

#contect-btm{
    padding: 5px;
    margin-top: 5px;
    border-radius: 3%;
}

footer {
    background-color: darkmagenta;
    text-align: center;
    color: white;
}